---
import Header from "../../components/Header";
import BackToHomeButton from "../../components/BackButton"
import FullProducstList from "../../components/FullProductList"

---

<Header client:only="react" />
<BackToHomeButton/>
<div>
<FullProducstList client:load/>
</div>




