---
import Cart from "../components/Cart"
import PagesLayout from "../layouts/PagesLayout.astro";
---

<PagesLayout>
  <h3 class="text-4xl font-semibold m-auto bg-white shadow-2xl w-[80%] text-gray-500 py-2 pl-4 text-center">Cart Products</h3>

  <div class="flex-1 ">
    <Cart client:load />
  </div>

</PagesLayout>
