---
import Header from "../components/Header";
import BackToHomeButton from "../components/BackButton";
import SearchResults from "../components/SearchResults"

---

<Header client:only="react" />
<BackToHomeButton/>
<div>
    <SearchResults client:only="react"/>
</div>




