---
import SearchResults from "../components/SearchResults";
import PagesLayout from "../layouts/PagesLayout.astro";
---

<PagesLayout title="Search Products">
  
  <div class="flex-1">
    <div>
      <SearchResults client:only="react" />
    </div>
  </div>
</div>
</PagesLayout>
