---
import Header from "../../components/Header";
import BackToHomeButton from "../../components/BackButton";
import FullProducstList from "../../components/FullProductList";
---

<Header client:only="react"/>
<BackToHomeButton />
<div>
  <h2 class="text-4xl font-semibold m-auto bg-white shadow-2xl w-[80%] text-gray-500 py-2 pl-4 mb-10 text-center">
    E-Commerce Products
  </h2>
  <FullProducstList client:load />
</div>
