---
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <title>Weather App</title>
  </head>

<div class="flex flex-col min-h-screen bg-gradient-to-r" style="background-image: linear-gradient(0deg, #29b5e1 0%, white 100%);">
  <div class="top-0 w-full z-50 sticky">
    <Header client:only="react" />
  </div>

  <slot />
  <div class="mt-auto pt-5">
    <Footer client:only="react" />
  </div>
</div>
