---
import Header from "../components/Header";
import BackToHomeButton from "../components/BackButton";
import Footer from "../components/Footer";
const { title, hideBackButton } = Astro.props;


---

<div class="flex flex-col min-h-screen">
  <div class=" top-0 w-full z-50 sticky">
    <Header client:only="react" />
    {!hideBackButton && <BackToHomeButton />}
  </div>

  <h3 class="text-3xl font-semibold mx-auto bg-white shadow-2xl w-[80%] text-gray-500 py-2 pl-4 mb-4 text-center"> {title}</h3>


  <slot />
  <div class="mt-auto pt-5">
    <Footer client:only="react" />
  </div>
</div>
